<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Araç Kirala</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="rentalAddForm">
          <div class="mb-3">
            <label for="rentDate">Kiralama Tarihi </label>
            <div class="form-group">
              <input
                type="date"
                id="rentDate"
                formControlName="rentDate"
                class="form-control"
                placeholder="Kiralama Tarihi"
                
                [min]="minDate  "
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="returnDate">Teslim Tarihi</label>
            <div class="form-group">
              <input
                type="date"
                id="returnDate"
                formControlName="returnDate"
                class="form-control"
                placeholder="Teslim Tarihi"
                
              />
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <button class="btn btn-fill btn-outline-success" (click)="add()" >
          Kirala
        </button>
        <button routerLink="/cars/carDetails/4/payment" class="btn btn-fill btn-outline-success"  >
          Ödemeye geç <app-payment  *ngFor="let model of modelOfRental"
          [modelOfRental]="modelOfRental"
          ></app-payment>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- <button routerLink="/cars/carDetails/4/payment" class="btn btn-fill btn-outline-success"  >
  Ödemeye geç <app-payment  *ngFor="let model of modelOfRental"
  [modelOfRental]="modelOfRental"
  ></app-payment>
</button>
 -->