<div class="card text-center mt-5" >
  <div class="card-header" style="background-color: black; color: #77d0d9">
    Ödeme 
  </div>
</div>
<br>
<div class="col-12 mt-3">
  <div>
    araç Kiralama tarihi:{{modelOfRental[0]?.rentDate}}--{{modelOfRental[0]?.returnDate}}
  </div>
  <input
    class="form-control"
    type="text"
    placeholder="Kart üzerindeki isim"
    aria-label="default input example"
    style="text-align: center"
  />
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <label for="creditCardNumber" class="form-label">Kart Numarası </label>     
    <input
      class="form-control"
      type="text"
      placeholder="xxxx-xxxx-xxxx-xxxx"
      aria-label="default input example"
      style="text-align: center"
      maxlength="16"
      id="creditCardNumber"
      type="tel"
    />
  </div>

  <div class="col-md-4">
    <label for="expirationDate" class="form-label">Son Kullanma Tarihi</label>
    <input
      class="form-control"
      type="text"
      placeholder="__/__"
      aria-label="default input example"
      style="text-align: center"
      id="expirationDate"
      maxlength="5"
       
    />
  </div>
  <div class="col-md-4">
    <label for="securityCode" class="form-label">Güvenlik Kodu</label>
    <input
      class="form-control"
      type="text"
      placeholder="___"
      aria-label="default input example"
      style="text-align: center"
      id="securityCode" 
      maxlength="3" 
    />
  </div>
</div>
<br>
<br>
<div class="col-12 d-flex justify-content-end">
    <button type="submit" class="btn btn-dark" style="color:#77d0d9" >Ödeme Yap </button>
  </div>

  